* {
    box-sizing: border-box;
    margin: 0;
}
.header {
    height: 100px;
    
}
.header-right {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

.header-right a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}