* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
}

h2 {
    text-shadow: 1px 5px black;
}

.header {
    font-family: 'Quattrocento', serif;
    width: 100%;  
    background-image: linear-gradient(to bottom, #172554, #1e40af);
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo a {
    font-size: 1.4rem;
    margin-left: auto;
}

.logo i {
    transition: width 0.2s, height 0.2s, transform 0.2s, color 0.2s;
}

.logo i:hover {
    transform: scale(1.2);
    color: orange;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo-text {
    font-size: 1.8rem;
    margin-left: 10px;
    animation: colorchange 3s infinite;
}

@keyframes colorchange {
    0% {color: white;}
    50% {color: orange;}
    100% {color: white;}
}

.nav-links {
    display: flex;
    padding: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 20px;
    text-shadow: 5px 5px 8px black;
    transition: color 0.5s;       
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: orange;
}

.navbar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #1e40af;
}

.searchbar input {
    margin-left: 10px;
    border-radius: 8px;
    width: 250px;
    height: 25px;
    border: 0;
}

.buttons button {
    padding: 8px 25px;
    margin-right: 10px;
    background-color: #ff4800;
    color: white;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    font-weight: bold;
    border: 0;
}

.buttons button:hover {
    box-shadow: 0px 2px 10px black;
}

.buttons button:last-child {
    margin-right: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    background-image: linear-gradient(#1e40af, #c2410c, #1e40af);
    color: #cbd5e1;
    flex: 30%;
    padding: 40px;
    text-align: justify;
    letter-spacing: 1px;
}

.intro img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 10px black;
    filter: saturate(1.20) brightness(1); 
}

.myname {
    animation: blinkingcolors 0.5s infinite;
}

@keyframes blinkingcolors {
    0% {color: black;}
    50% {color: white;}
    100% {color: black;}
}

.social-links {
    padding: 10 0px;
}

.social-links a {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

.main {
    background-image: linear-gradient(#1e40af, #c2410c, #1e40af);
    flex: 70%;
    padding: 40px;
    text-align: justify;
    letter-spacing: 1px;
}

.main img {
    margin-bottom: 10px;
    width: 100%;
}

.main h3 {
    color: white;
    text-shadow: 2px 2px black;
}

.main h5 {
    color: rgb(162, 162, 162);
}

.project {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
}

.project a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.project a:hover {
    color: grey;
}

.description {
    background-color: #fed7aa;
    padding: 20px;
}

.footer {
    background-image: linear-gradient(to bottom, #1e40af, #172554);
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-text {
    padding-bottom: 10px;
}

.footer a {
    font-size: 0.8rem;
    margin-right: 30px;
    color: white;
    text-decoration: none;
}

.footer a:last-child {
    margin-right: 0;
}

.footer a:hover {
    color: grey;
}

@media screen and (max-width: 700px) {
    .row, .nav-links, .navbar2 {
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        background-color: rgba(0, 0, 0, 0.3);
        text-align: center;
        width: 100%;
        padding: 15px;
        margin-bottom: 5px;
    }

    .nav-links a:last-child {
        margin-bottom: 0;
    }

    .buttons {
        margin-top: 20px;
    }

    .intro img {
        
    }
}