* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Poppins", sans-serif;
  background: url("images/elliott-engelmann-DjlKxYFJlTc-unsplash.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

header {
  height: 25vh;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Poppins", serif;
  font-weight: 500;
}

h3 {
  font-weight: 300;
}

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  width: 100%;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar .logo {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: colorchange 5s infinite;
}

@keyframes colorchange {
  from,
  to {
    color: #555;
  }
  50% {
    color: #fff;
  }
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  list-style-type: none;
  margin-right: 40px;
}

.navbar .nav-links ul li:last-child {
  margin-right: 0;
}

.navbar .nav-links ul li.active a {
  color: red;
  font-weight: 600;
}

.navbar .fa-user {
  transition: all 0.2s;
}

.navbar .fa-user:hover {
  transform: scale(1.3);
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  filter: invert();
  right: 50px;
  transition: 0.2s;
}

.navbar .menu-hamburger:hover {
  transform: scale(1.1);
}

.navbar .menu-hamburger:active {
  transform: scale(0.9);
}

/* ..............navbar2............. */

.navbar2 {
  position: absolute;
  top: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.searchbar {
  display: flex;
  align-items: center;
}

.searchbar input {
  margin-left: 10px;
  border: none;
  outline: none;
  width: 200px;
  height: 33px;
  color: #fff;
  caret-color: white;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  transition: all 0.3s;
}

.searchbar input:focus {
  width: 300px;
}

.plus .fa-plus {
  background: #002d62;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.1s;
}

.plus .fa-plus:hover {
  background: #02438d;
}

.plus .fa-plus:active {
  transform: rotate(180deg);
}
.fa-plus {
  display: none;
}

.navbar2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share-buttons button {
  margin-right: 35px;
  cursor: pointer;
  font-family: "poppins", sans-serif;
  padding: 6px 20px;
  background-color: #4771c6;
  color: white;
  text-shadow: 1px 1px 2px black;
  border-radius: 10px;
  border: 1px solid #4771c6;
  box-shadow: 4px 4px 0 #00308f;
  transition: all 0.1s;
}

.share-buttons button:last-child {
  margin-bottom: 0;
}

.share-buttons button:hover {
  background: #699afd;
}

.share-buttons button:active {
  box-shadow: 0 0 0 #00308f;
  transform: translateX(4px) translateY(4px);
}

.share-buttons button:last-child {
  margin-right: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  color: #cbd5e1;
  flex: 30%;
  padding: 20px;
  text-align: justify;
  letter-spacing: 1px;
}

.intro img {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  filter: saturate(1.2) brightness(1);
  transition: all 0.3s;
}

.intro img:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 25px #ffffff28;
}

.my-name {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-image: linear-gradient(
    90deg,
    #121711 0%,
    #13222d 10%,
    #083652 20%,
    #588396 30%,
    #959491 40%,
    #ae9a85 50%,
    #da9755 60%,
    #e48111 70%
  );
  background-size: 200%, auto;
  animation: wave 5s linear infinite reverse;
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.social-links a {
  margin-right: 30px;
  margin-bottom: 10px;
  font-size: 28px;
  color: white;
}

.main {
  flex: 70%;
  padding: 20px;
  text-align: justify;
  letter-spacing: 1px;
}

h2 {
  text-shadow: 2px 2px 4px black;
  letter-spacing: 2.5px;
}

h5 {
  color: rgb(192, 191, 191);
}

.project-container {
  height: 700px;
  overflow: auto;
}

.project {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.project img {
  opacity: 60%;
  filter: grayscale(100%);
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  transition: opacity 0.3s;
}

.project img:hover {
  filter: grayscale(0%);
  opacity: 100%;
}

.project a {
  color: white;
  text-decoration: none;
  letter-spacing: 2.5px;
}

.project a:hover {
  color: #da9755;
}

.description {
  color: #000;
  border-radius: 5px;
  background-color: #eecfab;
  padding: 20px;
}

.skills {
  color: #000;
  border-radius: 5px;
  background-color: #ff8800;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.footer {
  padding: 20px;
  text-align: center;
}

.footer-text {
  margin-bottom: 20px;
}

.footer a {
  margin-right: 30px;
  color: white;
  text-decoration: none;
}

.footer a:last-child {
  margin-right: 0;
}

.footer a:hover {
  color: rgb(255, 185, 54);
}
/* -------------------Mobile screen------------------------ */

@media screen and (max-width: 900px) {
  .project {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .project img {
    filter: grayscale(0%);
    opacity: 100%;
  }

  .navbar .logo {
    position: absolute;
    top: 55px;
  }

  .navbar .menu-hamburger {
    display: block;
    top: 50px;
    right: 20px;
    z-index: 3;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    z-index: 2;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }

  .nav-links a {
    color: #000;
  }

  /* ...................navbar2................*/

  .navbar2 {
    top: 95px;
    justify-content: space-between;
  }

  .fa-plus {
    display: block;
  }

  .navbar2 .plus {
    position: relative;
    display: block;
  }

  .navbar2 .share-buttons {
    position: absolute;
    right: -130%;
    top: -190%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    padding: 20px;
    border-radius: 10px;
    transform: scale(0.1);
    z-index: 1;
    transition: transform 0.2s, right 0.2s, top 0.2s;
  }

  .share-buttons.popup {
    right: 83%;
    top: 110%;
    transform: scale(1);
    visibility: visible;
  }

  .share-buttons button {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 8px 25px;
  }
}
